{%extends 'admin/basic.html'%}
{%block main%}
{%load static%}
{% include 'admin/messages.html'%}

        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Area</h4>
                        </div>
                    </div>

                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href=" {% static 'javascript:void(0)' %} ">Table</a></li>
                            <li class="breadcrumb-item active"><a href=" {% static 'javascript:void(0)' %} ">Datatable</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                                                                        <a href="{% url 'add_area'  %}" class="btn btn-primary btn-sm">Add</a>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Area List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 1345px">
    <thead>
        <tr>
            <th>No</th>
            <th>Area Name</th>
<!--            <th>City</th>-->
<!--            <th>State</th>-->
            <th>Pincode</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for area in areas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ area.area_name }}</td>
<!--            <td>{{ area.city }}</td>-->
<!--            <td>{{ area.state }}</td>-->
            <td>{{ area.pincode }}</td>
            <td>
                <a href="{% url 'edit_area' area.pincode %}" class="btn btn-primary btn-sm">Edit</a>
            </td>
            <td>
                <a href="{% url 'delete_area' area.pincode %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}

